
{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="container">
  <div id="keywords"></div>
  <div class="result">
    <div id="left-side"></div>
    <div id="jobs">
      {% for post in posts %}
        <div class="search-result" pk="{{ post.id }}" onclick="viewDetail(this)">
          <div class="icon">
            <img src="{{ post.post_img }}" width="200" />
          </div>
          <div class="content">
            <h4 id="jobtitle">{{ post.title | safe }}</h4>
            <p>
              <span class="salary">{{ post.salary_range }}</span>
              - <span>{{ post.address }}</span> - <span>{{ post.post_date }}</span>
            </p>
            <div>
              <p>{{ post.content | safe }}</p>
            </div>
            <div class="actions">
              <span class="date">{{ post.post_date }}</span>
              <!-- <span class="save"><a href="/save">save job</a></span>
              <span class="email"><a href="/email">email</a></span> -->
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <div><div id="detail" class="scrollbar"></div></div>
  </div>
</div>
<style>
.result {
    display: flex;
    justify-content: inherit;
}
</style>
{% endblock content %}